.reviewBtn{
    background-color: orange;
    padding: 20px;
    border-radius: 10px;
}
.reviews{
    box-shadow: 0px 0px 12px inset;
    border-radius: 10px;
}
@media screen and (max-width:688px){
    .titleDetails{
        display: none;
    }
    .customerSays{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    }
    .CustomerReviewsTitle{
        font-size: 20px;
        display: inline-block;
        width: 100%;
    }
    .seeAllReviews{
        width: 50%;
    }
}